.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.topspace {
  margin-top: 50px;
}

.space {
  margin-top: 200px;

}

.removetop {
  margin-top: -20px;

}

.background-notwatered {
  text-align: center;
  background: rgb(228, 107, 107);
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.background-watered {
  text-align: center;
  background-color: rgb(132, 235, 172);
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.background-neutral {
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
}

h3 {
  margin: 0;
  line-height: 1.5em;
}

.state {
 background-color: yellow;
 margin-top: 5em;
 padding: 5em;
}
