.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topspace {
  margin-top: 50px;
}

.space {
  margin-top: 200px;
}

.removetop {
  margin-top: -20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.pop {
  width: fit-content;
  background-color: rgb(255, 94, 148);
  height: fit-content;
  padding: 5em;
  text-align: center;
  margin-bottom: 3em;
}

.background-notwatered {
  background: rgb(228, 107, 107);
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.background-watered {
  background-color: rgb(132, 235, 172);
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}

.background-neutral {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}

h3 {
  margin: 0;
  line-height: 1.5em;
}

.state {
  background-color: yellow;
  margin-top: 5em;
  padding: 5em;
}
