body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1:first-child {
  margin-top: 50px;
  text-align: center;
}

h1:last-child {
  margin-bottom: 0;
}
